<div class="center-aligned">
	<h1>Welcome to LockerMan</h1>
	<br/><br/><br/>
	<div class="row">
		<div class="col-md-6">
			<%= link_to "MAKE RESERVATION", make_reservation_path, class: "btn btn-lg btn-primary" %>
		</div>
		<div class="col-md-6">
			<%= link_to "RETURN LOCKER", return_locker_path, class: "btn btn-lg btn-danger" %>
		</div>
	</div>
</div>

