// Place all the styles related to the Lockers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-aligned {
	text-align: center;
}
.receipt {
	border:2px dashed #000000;
	padding:40px;
	width:340px;
	margin:0 auto;
}

@media print {
    .no-print {
        display:none;
    }
}
